<!DOCTYPE html>
<head>
    {% csrf_token %}
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'styles_css/styleboot.css' %}">
 
</head>
<body>

<!-- Header -->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="#">Ajuda</a>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ user }}</a>
      </li>
      <a class="nav-link" href="{% url 'index' %}">Logout</a>
    </ul>
  </nav>
</header>

<!-- Sidebar -->
<!-- Sidebar -->
<nav class="sidebar">
  <div class="sidebar-logo">
    <img src="{% static 'styles_css/sysmex-laes.png' %}" alt="Logo">
  </div>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'account' %}">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#configOptions" aria-expanded="false" aria-controls="configOptions">Configuração -></a>
        <div class="collapse" id="configOptions">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Parâmetros</a></li>
            <li class="list-group-item"><a href="#">Usuários</a></li>
          </ul>
        </div>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gv_points' %}">Reconhecer</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_points' %}">Consultar Pontos</a>
      </li>
      {% if user.is_rh %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'requetss' %}">Requisições de resgate</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>


<!-- Main Content -->
<main role="main" class="main-content">
  <div class="container-fluid mt-5 content-section">
    <div class="widget-container">
      <!-- Image with fade effect -->
      <div class="fade-image"></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bem-vindo {{ user }}<br>ao programa de reconhecimento Sysmex</h5>
        </div>
      </div>
      <div class="small-container">
            <h5 class="small-heading">Pontos Recebidos</h5>
            <p class="large-value">{{ user.points }}</p>
        </div>
        {% if user.is_staff %}
            <div class="small-container">
                <h5 class="small-heading">Pontos do Gestor</h5>
                <p class="large-value">{{ user.manager_points }}</p>
            </div>
        {% endif %}
    </div>
  </div>
  <div class="parent-container">
    {% if user.is_staff %}
        <div class="container-fluid mt-5 content-section2 gray-section"> <!-- Same classes as main content container -->
        <h5 class="small-heading">Últimos reconhecimentos realizados</h5>
        {% for transaction in transactions %}
            {% if transaction.sender == user %}
                <div class="separator"></div>
                <div class="widget-container2"> <!-- Same class as main content widget container -->
                <div class="small-container2">
                    <p class="large-value"><strong>Data: </strong>{{ transaction.timestamp }}</p>
                    <p class="large-value"><strong>Destinatário: </strong>{{ transaction.reciever.email }}</p>
                    <p class="large-value"><strong>Pontos: </strong>{{ transaction.amount }}</p>
                    <p class="large-value"><strong>Mensagem: </strong>{{ transaction.description }}</p>
                </div>
                </div>    
            {% endif %}
        {% endfor %}  
        </div> 
    {% endif %}
    <div class="container-fluid mt-5 content-section2 gray-section"> <!-- Same classes as main content container -->
      <h5 class="small-heading">Últimos reconhecimentos recebidos</h5>
      {% for transaction in transactions %}
        {% if user == transaction.reciever %}
        <div class="separator"></div>
        <div class="widget-container2"> <!-- Same class as main content widget container -->
          <div class="small-container2">
            <p class="large-value"><strong>Data: </strong>{{ transaction.timestamp }}</p>
            <p class="large-value"><strong>Remetente: </strong>{{ transaction.sender.email }}</p>
            <p class="large-value"><strong>Pontos: </strong>{{ transaction.amount }}</p>
            <p class="large-value"><strong>Mensagem: </strong>{{ transaction.description }}</p>
          </div>
        </div>    
        {% endif %}
      {% endfor %} 
    </div>   
  </div>
  <!-- <form method="post" action="">
    {% csrf_token %}
    <button class="button" type="submit">Logout</button>
  </form>
 -->
   
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

